body{
  background-color: rgb(210, 185, 185);
}
.desc{
  color: crimson;
  font-weight: 800;
  font-size: 25px;
  font-family: cursive;
}

.name{
  color: crimson;
  font-weight: 800;
  font-size: 25px;
  font-family: cursive;
}

img{
  width: 25rem;
  height: 20%;
}

.card{
  padding-left: 15%;
  padding-top: 1%;
}

.amount{
  color: crimson;
  font-weight: 800;
  font-size: 25px;
  font-family: cursive;
}

.spann{
  font-size: 25px;
  font-weight: 600;
}

.first{
  color: rgb(58, 22, 242);
  font-family: cursive;
}